

.left-arrow {
    width: 50px;
    height: 60px;
    background-color: $accentColor;
    position: absolute;
    border-radius: 0 5px 5px 0;
    border-bottom: 3px solid $shadowAccentColor;
    cursor: pointer;

    @media screen and (max-width: 596px) {
        width: 40px;
        height: 40px;
    }
    
    &::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
        top: 21px; 
        left: 15px;

        @media screen and (max-width: 596px) {
            top: 11px; 
            left: 15px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
        top: 21px; 
        left: 23px;
        @media screen and (max-width: 596px) {
            border-bottom: none;
            border-left: none;
        }
    }
}

.left-arrow__min {
    width: 40px;
    height: 40px;
    background-color: $accentColor;
    position: absolute;
    border-radius: 0 5px 5px 0;
    border-bottom: 3px solid $shadowAccentColor;
    cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            border-bottom: 3px solid #fff;
            border-left: 3px solid #fff;
            transform: rotate(45deg);
            top: 11px; 
            left: 15px;
        }
    
}

.right-arrow {
    width: 50px;
    height: 60px;
    background-color: $accentColor;
    position: absolute;
    right: 0;
    border-radius: 5px 0 0 5px;
    border-bottom: 3px solid $shadowAccentColor;
    cursor: pointer;

     @media screen and (max-width: 596px) {
        width: 40px;
        height: 40px;
    }
    
    &::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        top: 21px; 
        right: 15px;
        @media screen and (max-width: 596px) {
            top: 11px; 
            left: 15px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        top: 21px; 
        right: 23px;
        @media screen and (max-width: 596px) {
            border-bottom: none;
            border-right: none;
        }
    }
}

.right-arrow__min {
    width: 40px;
    height: 40px;
    background-color: $accentColor;
    position: absolute;
    right: 0;
    border-radius: 5px 0 0 5px;
    border-bottom: 3px solid $shadowAccentColor;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg);
        top: 11px; 
        right: 15px;
    }
}

.search-btn {
    border: none;
    background: none;
    @include fontAwesome("\f002", 16px, $lightsFontColor);
    font-weight: 600;
    cursor: pointer;
}



/***
*
* BUTTON UP
*
***/

.btn-up {
  position: fixed;
  bottom: -50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(44, 48, 57, .9);
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: .8s;
}

    .btn-up__active{
    bottom: 50px;
    }

    .btn-up:hover{
    border: 2px solid #06d56c;
    }

    .btn-up::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 3px solid #06d56c;
    border-left: 3px solid#06d56c;
    transform: rotate(45deg);
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }

/***
*
* ./BUTTON UP
*
***/