.search-form {
    display: none;
}

.search-btn {
    padding: 10px 10px 9px 10px;
    outline: none;
    &:hover {
        background: #62a29e;
        border-radius: 5px;
    }
}

.search-btn__active {
    padding: 10px 10px 9px 10px;
    background: $accentColor;
    border-radius: 5px;
    
}

.search {
    background: none;
    border: none;
    border: 5px solid $accentColor;
    border-radius: 5px;
    background: $lightsFontColor;
    padding: 10px 9px;
}


// *** placeholder styles ***

.search::-webkit-input-placeholder {           /* Google Chrome*/
   font-family: 'Open Sans', sans-serif;
    color: $headingFontsColor;
    font-size: 14px;
    font-weight: 400;
}

.search::-moz-placeholder {                   /* Firefox 19+ */
  font-family: 'Open Sans', sans-serif;
    color: $headingFontsColor;
    font-size: 14px;
    font-weight: 400;
}


.search:-moz-placeholder {                    /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    color: $headingFontsColor;
    font-size: 14px;
    font-weight: 400;
}


.search:-ms-input-placeholder {               /* IE */
    font-family: 'Open Sans', sans-serif;
    color: $headingFontsColor;
    font-size: 14px;
    font-weight: 400;
}



// сдвиг placeholder-а вправо при фокусе



.search::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.5s ease;
}
.search::-moz-placeholder {
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.search:-moz-placeholder {
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.search:-ms-input-placeholder {
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.search:focus::-webkit-input-placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.search:focus::-moz-placeholder  {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.search:focus:-moz-placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.search:focus:-ms-input-placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
