.about-section {
    margin-bottom: 34px;
    padding-top: 30px;
}

.about-accordion {
    margin-bottom: 46px;
}

.about-text {
    color: $defoltTextColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.8px;
}

.about-head {
    color: $headingFontsColor;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.2px;
    text-transform: uppercase;
}

/* Accordions */

.accordion-head {
    background: url(../img/icon/plus.svg) 98% center no-repeat, #f8f8f8;
    border-radius: 5px;
    padding: 19px 21px;
    border-bottom: 4px solid $shadowColor;
    cursor: pointer;
}

.accordion-head:not(:first-child) {
    margin-top: 6px;
}

    .accordion-head-active {
        background: url(../img/icon/minus.svg) 98% center no-repeat, #fff;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
    }

.accordion-content {
    padding: 0 36px 33px 21px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border-bottom: 4px solid $shadowColor;
}

/* Tabs */

.tabs-btn {
    display: flex;
}

.about-tabs-title {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.2px;
    text-transform: uppercase;
    padding: 17px 26px;
    background-color: $accentColor;
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
    cursor: pointer;

    @media screen and (max-width: 596px) {
       font-weight: 600; 
       padding: 10px 20px;
       text-transform: none;
    }

    @media screen and (max-width: 480px) {
        font-weight: 400; 
         padding: 8px 15px;
         margin-left: 5px;
    }
}

@media screen and (max-width: 596px) {
    .main-tabs {
        margin-bottom: 30px;
    }
}
.about-tabs-title:first-child {
    margin-left: 0;
}

.about-tabs-title:nth-child(2n) {
    background-color: $tabsBtnColor;
}

.about-tabs-title.active-tab {
    background: $tabsContentColor;
    color: $headingFontsColor;
}

.tabs-content {
    background-color: $tabsContentColor;
    padding: 31px 30px 33px 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0 5px 5px 5px;
    border-bottom: 4px solid $shadowColor;
}

.tabs-content-descr {
    width: 69%;

    @media screen and (max-width: 788px) {
        width: 100%;
        text-align: center;
        order: 1;
    }
}

@media screen and (max-width: 788px) {
    .tabs-content img {
        display: flex;
        margin: 0 auto 15px auto;
    }
}
// .img-tabs {
//     background: url(../img/blog-slider-bg-1.jpg) center center no-repeat;
//     width: 160px;
//     height: 110px;;
// }

