.blog-section {
    margin-bottom: 30px;
    padding-top: 30px;
}

.gallery-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.gallery-item {
    width: 70px;
    margin: 0 30px 25px 0;
}
.gallery-item:nth-child(3n) {
    margin: 0 0 25px 0;
}