/*** Top footer ***/

/*** Site info ***/
.main-footer {
    background: url(../img/ruler-footer.png) center top no-repeat,$topFooterColor;
}

    .top-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 45px 40px 48px 0;
        @media screen and (max-width: 505px) {
            padding: 45px 0 48px 0;

        }
    }

    .cite-info {
        flex-basis: 30%;

        @media screen and (max-width: 505px) {
            flex-basis: 100%;
            margin-bottom: 20px;
            order: 2;
            text-align: center;
        }
    }

        .info-descr {
            margin: 32px 0;
            color: $lightsFontColor;
            font-size: 13px;
            font-weight: 400;
            line-height: 23.4px;
        }

        .cite-info .phone-number, .email  {
            color: $lightsFontColor;
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
        }

        .phone-number {
            margin-bottom: 15px;
        }

        .cite-info p span {
            color: $lightsFontColor;
            font-size: 13px;
            font-weight: 400;
            margin-right: 20px;
        }


/*** Navigation footer ***/

.nav-footer__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    opacity: .5;
    margin-bottom: 31px;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 28%;
    flex-wrap: wrap;

    @media screen and (max-width: 505px) {
        margin: auto;
    }
}

@media screen and (max-width: 1012px) {
    .nav-footer .left-nav {
        margin-bottom: 30px;
    }
    
}

.nav-footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.nav-footer__item {
    padding-left: 40px;
    background: url(../img/icon/arrow_right.svg) 15px center no-repeat;
}

.nav-footer__link {
    color: $lightsFontColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.4px;
    transition: color .1s ease-in-out;
        &:hover {
            color: $headingFontsColor;
        }
}

/*** Blog preview ***/
.blog-preview {
    flex-basis: 30%;
    @media screen and (max-width: 1012px) {
        flex-basis: 100%;
        margin-top: 30px;
    }

        @media screen and (max-width: 505px) {
            margin-bottom: 40px;
        }
}

.blog-preview-title {
    color: $lightsFontColor;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
     & span {
         font-style: italic;
         font-weight: normal;
     }
}

.prewiew-list__img {
    background: url(../img/blog-prew.png) center center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-right: 18px;
}
.preview-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.preview-item {
    display: flex;
    margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
}

.preview-text {
    color: $lightsFontColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
}
.post-prewiew time {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    opacity: .5;
}


/*** Bottom footer ***/

.bottom-footer {
    background: $botomFooterColor;
    padding: 14px 0;
}

.bottom-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 170px;
}



.social-items {
    width: 22px;
    height: 22px;
    margin-left: 25px;
}

.social-items .rss {
    background: url(../img/icon/rss.png) center center no-repeat;
    width: 100%;
    height: 100%;
    
}

.social-items .facebook {
    background: url(../img/icon/facebook.png) center center no-repeat;
    width: 100%;
    height: 100%;
    
}

.social-items .google-plus {
    background: url(../img/icon/g-plus.png) center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.social-items .tweeter {
    background: url(../img/icon/twetter.png) center center no-repeat;
    width: 100%;
    height: 100%;
}

.copy {
    @include fonts($baseFont, 12px, 400, $lightsFontColor);
}