.services-section {
    margin-bottom: 76px;
    padding-top: 30px;

    @media screen and (max-width: 1220px) {
        margin-bottom: 35px;
    }
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1220px) {
        width: 84%;
        margin: auto;
    }

    @media screen and (max-width: 1012px) {
        width: 100%;
        margin: auto;
    }

   @media screen and (max-width: 596px) {
       justify-content: center;
   }
}

.services-item {
    width: 270px;
    text-align: center;
    padding: 47px 17px 0;
    background-color: $tabsContentColor;
    border-radius: 6px;
    border-bottom: 4px solid $shadowColor;
    display: flex;
    flex-direction: column;
    transition: background-color .1s ease-in-out;
    &:hover {
        background-color: $lightsFontColor;
    }

    @media screen and (max-width: 1220px) {
        margin-bottom: 50px;
    }
    @media screen and (max-width: 596px) {
        width: 300px;
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

.services-icon {
    color: #62bdbd;
    font-size: 55px;
    margin-bottom: 17px;
}

.services-title {
    color: $headingFontsColor;
    font-size: 16px;
    font-weight: 900;
    line-height: 19.2px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.services-descr {
    color: $defoltTextColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.8px;
    margin-bottom: 61px;
}

.services-link {
    color: $lightsFontColor;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 65px;
    background-color: $blueColor;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    bottom: -27px;
    margin-top: auto;
    border-bottom: 4px solid $shadowBlueColor;
    transition: background-color .1s ease-in-out,
                border .1s ease-in-out;
    
    &:hover {
        background-color: $accentColor;
        border-bottom: 4px solid $shadowAccentColor;
    }
}

.services-item:hover .services-icon {
    color: $accentColor;
}