// FONTS
$baseFont: 'Open Sans', sans-serif;  // Основной шрифт
//$accentFont: 'Popins', sans-serif;  // Дополнительный акцентный шрифт №1
//$baseFont: 'Popins', sans-serif;  // Дополнительный шрифт №2


// COLOR
$lightsFontColor: #fff;        // белый цвет

$accentColor: #e8645a;         // красный цвет кнопок
$shadowAccentColor: #e2534b;   // красная тень кнопок

$blueColor: #76caca;           // голубой цвет кнопок
$shadowBlueColor: #62bdbd;     // голубая тень кнопок

$headingFontsColor: #7f8c8c;
$defoltTextColor: #777777;

$bodyColor: #f3f3f3;
$headerColor: #76c7c0;
$botomFooterColor: #6ab3ad;