// FONTS
$baseFont: 'Open Sans', sans-serif;  // Основной шрифт
//$accentFont: 'Popins', sans-serif;  // Дополнительный акцентный шрифт №1
//$baseFont: 'Popins', sans-serif;  // Дополнительный шрифт №2


// COLOR
$lightsFontColor: #fff;        // белый цвет

$accentColor: #e8645a;         // красный цвет кнопок
$shadowAccentColor: #e2534b;   // красная тень кнопок

$blueColor: #76caca;           // голубой цвет кнопок
$shadowBlueColor: #62bdbd;     // голубая тень кнопок

$tabsBtnColor: #62b9b0;
$tabsContentColor: #f8f8f8;

$headingFontsColor: #7f8c8c;
$defoltTextColor: #777777;

$shadowColor: #e5e6e6;          // цвет тени картинок
$porfolioHoverColor: #83ccc6;   // цвет ховера в портфолио

$bodyColor: #f3f3f3;           // цвет body
$headerColor: #76c7c0;         // цвет хедер
$topFooterColor: #76c7c0;      // цвет верх футер
$botomFooterColor: #6ab3ad;    // цвет низ футер